html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color:#EEEEEE;
}

a, a:visited, a:focus {
	outline:0;
	color:#0a4488;
	text-decoration:none;
}

a:hover {
	color:#000088;
}

nav {
	font-size:10pt;
	display: inline-block;
}

nav > a {
	display:inline-block;
}

nav > a:not(:first-child) {
	margin:0px 5px 0px 5px;
}

.right {
	float:right;
}

#header {
	border-bottom:1px solid #3e3e3e;
	padding:2px;
}

#title {
	font-size:14pt;
	font-weight:bold;
	margin:0 0 2px 0;
}

#content {
	min-height:400px;
	padding:5px;
}

#footer {
	font-size:9pt;
	padding:5px;
	border-top:1px solid #333
}

.article {
	
}

.article > .content {
	font-weight:normal;
	font-size:10pt;
}

.article > .content > .section,
.article > .content > .section:hover {
	font-weight:bold;
	font-size:12pt;
	color:#000000;
}

.article > .title {
	font-weight:bold;
	font-size:14pt;
}

.left {
	float:left;
}

.right {
	float:right;
}
