{% extends "base.html" %}
{% block title %}{{ config.title }} - {{ title  }}{% endblock %}
{% block header -%}
	{{ super() }}
	<a class="right" href="{{ url_for('route_edit', title=title) }}"><small>Edit</small></a>
{% endblock %}
{% block content -%}
		<div class="article">
			{% if title == 'Main Page' -%}
				<h2 class="title">{{ config.title }}</h2>
			{% else -%}
				<h2 class="title">{{ title }}</h2>
			{% endif %}
		<p class="content">
			{{ markdown_parse(content)|safe }}
		</p>
	</div>
{% endblock %}
