<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{% endblock title %}</title>
			<link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>
		{% endblock head %}
	</head>
	<body>
		<div id="header">
			{% block header %}
				<p id="title">{{ config.title }}</p>
				<nav>
					<a href="{{ url_for('route_article') }}">Home</a>
					<a href="{{ url_for('route_random') }}">Random</a>
				</nav>
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
				{% if config.expose %}
					<span>Powered by FWiki</span>
				{% endif %}
			{% endblock %}
		</div>
	</body>
</html>
