{% extends "master.html" %}
{% block head %}
	<title>FWiki - Editing {{ title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}"/>
	{{ super() }}
{% endblock %}
{%block content %}
	<p>Editing article {{ title }}</p>
	<nav>
		<a href="{{ url_for('route_article', title=title) }}">Back</a>
	</nav>
	<form method="POST" action="{{ url_for('route_do_edit') }}">
		{% if id != "" %}
			<input type="hidden" name="id" value="{{ id }}"/>
		{% else %}
			<input type="hidden" name="id" value="0"/>
		{% endif %}
		<input type="hidden" name="title" value="{{ title }}"/>
		<textarea id="editor" name="content">{{ content }}</textarea>
		<input type="submit" name="submit" value="Submit"/>
	</form>
{% endblock %}
