<!DOCTYPE html>
<html>
	{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
	{% endblock %}
	{% block body %}
		<div id="header">
			{% block header %}
				<h2>FWiki</h2>
				<nav>
					<a href="{{ url_for('route_index') }}">Home</a>
					<a href="{{ url_for('route_random') }}">Random</a>
				</nav>
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
				<span>Powered by FWiki</span>
			{% endblock %}
		</div>
	{% endblock %}
</html>
