{% extends "base.html" %}
{% block title %} {{ config.title }} - Revision {{ rev }} for {{ title }} {% endblock %}
{% block header %}
    {{ super() }}
    <p>Viewing revision(s) for article {{ title }}</p>
{% endblock %}
{% block content %}
    {% if rev == "list" %}
    <table>
        <tr><td>Revision #</td><td>Link</td></tr>
    	{% for article in revisions %}
       	 <tr><td>{{ article.revision }}</td><td><a href="{{ url_for('route_revisions', title=title, rev=article.revision) }}">View</a></td></tr>
    	{% endfor %}
    </table>
    {% else %}
	<h2>{{ title }}</h2>
        {{ markdown_parse(content)|safe }}
    {% endif %}
{% endblock %}
